:root {
    /* CSS HEX */
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;

    --light-cyan: #e0fbfcff;
    --light-blue: #c2dfe3ff;
    --cadet-gray: #9db4c0ff;
    --paynes-gray: #5c6b73ff;
    --gunmetal: #253237ff;
}

.navigation-container {
    background-color: var(--yinmn-blue);
}
body {
    line-height: 1;
    background-color: var(--platinum);
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
form,
label,
canvas,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.page {
    padding-top: 120px;
}

ol,
ul {
    list-style: none;
}

#root {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

img.home-img {
    width: 280px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

div.detail-img, img.detail-img {
    width: 230px;
    height: 220px;
}
div.detail-img {
    margin: 3px 0;
}

img.detail-img {
    object-fit: cover;
    border-radius: 10px;
}

div.detail-img:first-child img, div.detail-img:first-child {
    width: 445px;
    height: 445px;
}


h2,
h3,
div {
    font-family: "Dongle", sans-serif;
}

#main-title {
     color:white;
    font-family: "Sedgwick", sans-serif;
    font-size: 28px;
}

a:link {
    text-decoration: none;
}

h2 {
    color: black;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--my-modal-overlay);
    z-index: 2;
}

#modal-content {
    z-index: 3;
}

.card {
    width: 300px;
    height: 410px;
}

.list {
    margin-top: 40px;

    max-width: 915px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.list.detail {
    flex-direction: column;
    max-height: 580px;
}

.nav-link a {
    /* color: var(--platinum);
     */
     color: white;
    font-size: 28px;
}

.page h2 {
    font-size: 32px;
}

.page h4 {
    font-size: 28px;
}
.page li h4 {
    font-size: 18px;
}
.page {
    width: 1000px;
}
.page.create, .page.update {
    max-width: 500px;
}

h3 {
    font-size: 22px;
}

#price {
    width: 100%;
}

#yesDelRevBtn, #yesDelSpotBtn {
    background-color: rgb(255, 134, 134);
}
#noDelRevBtn, #noDelSpotBtn {
    background-color: darkgray;
}

#modal-content form {
    display: flex;
    flex-direction: column;
    padding: 20px

}

#modal-content h1 {
font-size: 22px;
align-self: center;
padding-bottom: 10px;
}

#modal-content input {
    width: 100%;
    }
