.navigation-container {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 32px;
    height: 132px;

}
.nav-item {
    padding: 0 40px;
}
#nav-icon {
    width:'48px';
    height:'48px';

}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navigation-container > .flex-ctr > a {
display: flex;
justify-content: space-between;
    width: 170px;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.profile-dropdown {
    position: fixed;
    top: 110px;
    right: 2rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: white;
    padding: 15px 10px;
    font-size: 24px;
    border-radius: 5px;

}

.profile-dropdown li {
    padding: 2px 0px;
}

.hidden { display: none }
